In [220]:
import numpy as np
import pandas as pd
from __future__ import division

In [223]:
# Get all patients data (features, targets and predictions)
patients = pd.read_csv("all_features_dates_and_predictions.csv")

In [224]:
patients.columns

Index([u'Unnamed: 0', u'subject_id', u'icustay_id', u'gender', u'admittime',
       u'dischtime', u'los_hospital', u'age', u'hospital_expire_flag',
       u'hospstay_seq',
       ...
       u'Religion_most_recent_UNI', u'Pain Present_most_recent_',
       u'Pain Present_most_recent_No',
       u'Pain Present_most_recent_Other/Remarks',
       u'Pain Present_most_recent_Yes', u'first_careunit_CCU',
       u'first_careunit_CSRU', u'first_careunit_MICU', u'first_careunit_SICU',
       u'first_careunit_TSICU'],
      dtype='object', length=298)

In [225]:
X = patients[[  'age',
                'gender',
                'Temp_nanmedian',
                'Heart_Rate_nanmedian',
                'Dias_BP_nanmedian',
                'Sys_BP_nanmedian',
                'Platelets_most_recent',
                'BUN_most_recent',
                'Glucose_most_recent',
                'WBC_most_recent',
                'SpO2_nanmedian',
                'Resp_Rate_nanmedian',
                'Creatinine_most_recent',
                'los_icu',
                'los_hospital']]
Y = patients['hospital_expire_flag']

In [226]:
X.head(2)

,age,gender,Temp_nanmedian,Heart_Rate_nanmedian,Dias_BP_nanmedian,Sys_BP_nanmedian,Platelets_most_recent,BUN_most_recent,Glucose_most_recent,WBC_most_recent,SpO2_nanmedian,Resp_Rate_nanmedian,Creatinine_most_recent,los_icu,los_hospital
0,76.5246,1,97.699997,95.0,58.0,127.0,155.0,20.0,80.0,10.7,96.0,19.0,1.3,6.064560,11.0
1,65.9398,0,98.950001,91.0,59.0,160.0,174.0,69.0,89.0,8.5,96.0,16.0,6.2,3.672917,16.0

In [227]:
X.columns

Index([u'age', u'gender', u'Temp_nanmedian', u'Heart_Rate_nanmedian',
       u'Dias_BP_nanmedian', u'Sys_BP_nanmedian', u'Platelets_most_recent',
       u'BUN_most_recent', u'Glucose_most_recent', u'WBC_most_recent',
       u'SpO2_nanmedian', u'Resp_Rate_nanmedian', u'Creatinine_most_recent',
       u'los_icu', u'los_hospital'],
      dtype='object')

In [229]:
X.columns = ['AGE',
            'GENDER',
            'TEM_F',
            'HEART_RATE',
            'DIAS_BP',
            'SYS_BP',
            'PLATELETS',
            'BUN',
            'GLUCOSE',
            'WBC',
            'SPO2',
            'RESP_RATE',
            'CREATININE',
            'LOS_ICU',
            'LOS_HOSP']

In [232]:
X.describe()

//anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,age,gender,temp,HR,Dias_BP,Sys_BP,Platelets,BUN,Glucose,WBC,SpO2,Resp_Rate,Creatinine,los_icu,los_hospital
count,17206.000000,18097.000000,17105.000000,17787.000000,17731.000000,17732.000000,17068.000000,17197.000000,17469.000000,17057.000000,17600.000000,17745.000000,17182.000000,18097.000000,18097.000000
mean,64.041753,0.557993,98.338501,85.571625,60.174186,122.707168,235.661911,29.292609,139.228812,11.676863,96.573182,20.141815,1.383716,7.616170,14.519644
std,16.221883,0.496639,1.092546,15.592522,11.636779,19.143030,147.766727,23.781043,50.439573,6.568882,2.052880,4.624209,1.495187,7.578935,12.826120
min,15.184500,0.000000,90.300003,35.000000,13.000000,44.000000,5.000000,1.000000,1.120000,0.100000,50.000000,6.000000,0.100000,2.024653,0.000000
25%,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.313495,7.000000
50%,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.869502,11.000000
75%,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.598356,18.000000
max,88.995800,1.000000,104.500000,165.500000,114.000000,198.000000,1569.000000,259.000000,1005.000000,148.600000,99.000000,45.000000,69.000000,104.248264,207.000000

In [ ]:
BUNmax =
BUNmin =
Creatininemax =
Creatininemin =
Dias_BPmax =
Dias_BPmin =
Glucosemax =
Glucosemin =
HRmax =
HRmin =
Plateletsmax =
Plateletsmin =
Resp_Ratemax =
Resp_Ratemin =
SpO2max =
SpO2min =
Sys_BP'max =
Sys_BP'min =
WBCmax =
WBCmin =
agemax =
agemin =
gendermax =
gendermin =
los_hospitalmax =
los_hospitalmin =
los_icumax =
los_icumin =
tempmax =
tempmin =

In [172]:
right_age = ((X.age >= agemin) & (X.age <= agemax))
right_age.head(3)

0    True
1    True
2    True
Name: age, dtype: bool

In [173]:
sum(Y[right_age]) / len(Y[right_age])

0.73630136986301364

In [174]:
right_year = ((X.year >= yearmin) & (X.year <= yearmax))

In [175]:
sum(Y[right_year]) / len(Y[right_year])

0.73529411764705888

In [176]:
right_nodes = ((X.nodes >= nodesmin) & (X.nodes <= nodesmax))

In [177]:
sum(Y[right_nodes]) / len(Y[right_nodes])

0.69696969696969702

In [182]:
a= (right_age & right_year & right_nodes)

In [183]:
Y[a]

1      1
4      1
28     1
39     1
58     1
68     1
72     1
90     0
94     1
103    1
104    1
105    1
121    1
134    1
137    0
142    0
144    0
145    0
147    1
149    1
156    0
158    0
172    1
187    1
191    0
209    1
213    1
219    1
222    1
286    0
Name: survived, dtype: int64

In [141]:
Y[right_age & right_year & right_nodes]

58     1
68     1
72     1
90     0
94     1
103    1
104    1
105    1
121    1
134    1
137    0
142    0
144    0
145    0
147    1
149    1
156    0
158    0
172    1
187    1
191    0
209    1
213    1
219    1
222    1
Name: survived, dtype: int64

In [140]:
data={u'example': [20, 47, 1990, 1960, 1]}

In [60]:
data['example'][1]

47

In [143]:
3>=0

True

In [145]:
a=[True,False,False]
b=[True,True,False]
c=[True, False, True]

In [146]:
a&b

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [180]:
max(X.nodes)

52