In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
from sqlalchemy import MetaData
import numpy as np
import pandas as pd
import csv
from collections import defaultdict
import re
import statsmodels.api as sm
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
from __future__ import division
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
# import seaborn as sns
from sqlalchemy import MetaData
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import settings
import time
import glob

In [3]:
# settings.DATABASE['host'] = 'mimic-icu.cdjluwndgrk8.us-west-2.rds.amazonaws.com'

In [4]:
settings.DATABASE

{'database': 'MIMIC_ICU',
 'drivername': 'postgres',
 'host': 'mimic-icu.cdjluwndgrk8.us-west-2.rds.amazonaws.com',
 'password': 'thisismetis',
 'port': '5432',
 'username': 'mimic'}

In [5]:
def db_connect():
    """
    Performs database connection using database settings from settings.py.
    Returns sqlalchemy engine instance
    """
    return create_engine(URL(**settings.DATABASE))

db = db_connect()
db

Engine(postgres://mimic:***@mimic-icu.cdjluwndgrk8.us-west-2.rds.amazonaws.com:5432/MIMIC_ICU)

In [13]:
sql_prompt = '''SELECT n.category, COUNT(n.category) FROM NOTEEVENTS n
                GROUP BY n.category
                ORDER BY 2 DESC;''' 
current_table = pd.read_sql(sql_prompt, db)

In [14]:
current_table

             category   count
0       Nursing/other  822497
1           Radiology  522279
2             Nursing  223556
3                 ECG  209051
4          Physician   141624
5   Discharge summary   55177
6                Echo   45794
7        Respiratory    31739
8           Nutrition    9418
9             General    8301
10     Rehab Services    5431
11        Social Work    2670
12   Case Management      967
13           Pharmacy     103
14            Consult      98